body{
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-control{
  width: 30rem;
}
.btn-submit{
  margin-left: auto;
}